@import 'resources/scss/modules/colours';
@import 'resources/scss/modules/typography';
@import 'resources/scss/modules/figures';

// About item background image styling
.about-item {
    position: relative;
    background-size: cover;
    background-position: center;
}

// About item interchanging spacing
.about-item:after {
    content: "";
    display: table;
    clear: both;
}

// About dot styling and spacing
.about-dot {
    position: absolute;
    top: 8px;
    left: 17px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #673AB7;
    box-shadow: 0 0 0 4px #7E57C2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

@media (min-width: 768px) {
    // Medium screen about dot styling
    .about-dot {
        width: 40px;
        height: 40px;
        left: 50%;
        margin-left: -20px;
        margin-top: 15px;

        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
}

// About content-wrapper styling
.about-wrapper {
    position: relative;
    margin-left: 50px !important;
    padding: 1em;
    min-height: 489.900px;
}

// About item content title stylng and spacing
.about-wrapper .about-item-title {
    margin-top: 0;
    margin-bottom: 5px;
}

// About item content content stylng and spacing
.about-wrapper p {
    margin: 1em 0;
}

// Medium screen stylings
@media (min-width: 768px) {

    // About wrapper styling
    .about-wrapper {
        color: $white;
        padding: 1.6em;
        width: 50%;
        margin-left: 0 !important;
    }

    // Odd about wrapper styling
    .about-item:nth-child(even) .about-wrapper {
        text-align: right;
        padding-right: 5em;
        justify-content: flex-end !important;
    }

    // Even about wrapper styling
    .about-item:nth-child(odd) .about-wrapper {
        float: right;
        margin-right: 0;
        padding-left: 5em;
        justify-content: end !important;
    }
}

// About content typography styling
.about-content {
    color: $white !important;
}