@import 'resources/scss/modules/colours';

// Donate section styling
.donate-section {
    padding: 0;
    color: $white;
    text-align: left;
    background-color: $black;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 50vh;
}

// Donate section image styling
.donate-section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

// Donate section blurb placement
.donate-section .caption {
    position: absolute;
    z-index: 1;
}