@import 'resources/scss/modules/colours';

// Donate section styling
.donate-section {
    padding: 0 !important;
    color: $white;
    text-align: left;
    background-color: $black;
    width: 100%;
    height: 550px;
}

@media (min-width: 998px) {
    .donate-section {
        text-align: center;
    }
}

// Donate section image styling
.donate-section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}


// Donate section blurb placement
.donate-section .caption {
    position: absolute;
    z-index: 1;
}