@import 'resources/scss/modules/colours';

// Header masthead styling
header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    height: 20rem;
}

// Header masthead overlay styling
header.masthead .overlay {
    background-color: $black;
}

// Blog post content paragraph styling
.blog-post-content p {
    color: $blog-text !important
}

.blog-post-content img {
    width: 100%;
}

// Heading text colours
.heading * {
    color: $white !important;
}

// Heaidng title typography styling
.heading .title {
    font-size: 60px !important;
    font-weight: bold;
}

// Heaidng subtitle typography styling
.heading .subtitle {
    font-size: 25px !important;
}

// Heaidng blog metadata typography styling
.heading .meta {
    font-style: italic;
}
