@import 'resources/scss/modules/colours';

// Nav link bottom line styling
.nav-link::before {
    content: '';
    position: absolute;
    bottom: .25rem;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
}

// Nav link styling
.navbar-nav .nav-link {
    position: relative;
    display: block;
    margin: .75rem !important;
    text-transform: capitalize;
    text-align: center;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

// Light navbar styling 
.navbar-dark .nav-link::before {
    background: $white !important;
}

.navbar-dark .nav-link {
    color: $white !important;
}

// Dark navbar styling
.navbar-light .nav-link::before {
    background: $tertiary !important;
}

.navbar-light .nav-link {
    color: $tertiary !important;
}