@import 'resources/scss/modules/colours';

// Page header styling
.page-header {
    height: 250px;
    width: 100%;
    position: absolute !important;
    top: 0 !important;
    background-color: $primary-dark !important;
    color: $white;

    background: no-repeat center center;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
}

// Page header neighbour margin for page header visibility
.page-header+div {
    padding-top: 2rem;
    margin-top: 170px;
}

// Page header heading row width and height
.page-header .heading {
    width: 100% !important;
    height: 100% !important;
}

// Medium device list styling
@media (min-width: 768px) {
    .page-header {
        height: 400px;
    }

    .page-header+div {
        margin-top: 320px;
    }
}

// Heading z-index
.heading * {
    z-index: 1
}

// Heading content bottom padding
.heading-content {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.heading-content *:last-child {
    margin: 0 auto;
}