@import 'resources/scss/modules/colours';

// General sidebar styles
.bm-menu {
    background: $tertiary;
    padding: 2.5em 1.5em 0;
    font-size: 1.30em;
}

// Burger menu wrap styling
.bm-menu-wrap {
    width: 100% !important;
    top: 0;
}

// Overlay styling
.bm-overlay {
    background: $black-overlay;
    top: 0;
    right: 0;
}

// Navbar logo styling
.bm-item-list .navbar-logo {
    color: $white;
}

// Color/shape of close button cross
.bm-cross {
    background: $white;
}

// Wrapper for item list
.bm-item-list {
    min-width: 133px !important;
    max-width: 50%;
    margin: 0 auto;
    height: auto !important;
}

// Burger menu item
.bm-item {
    color: $white;
}

// Burger menu nav link styling
.navbar-light .bm-item-list .nav-link,
.navbar-dark .bm-item-list .nav-link {
    font-weight: 500;
    color: $white !important;
}

.navbar-light .bm-item-list .nav-link::before,
.navbar-dark .bm-item-list .nav-link::before {
    background: $white !important;
}