// Team member padding styling
.team-member {
    padding-bottom: .5rem;
}

// Team member role margin
.team-member .team-member-role {
    margin-bottom: 0;
}

// Team member name overflow
.team-member .team-member-name {
    white-space: nowrap;
}

// Team member image reset
.team-member-image img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

// Team section padding styling
.team-section {
    padding: 3rem;
}

// Large media team section styling
@media (min-width: 992px) {

    // Large screen team member padding styling
    .team-member {
        padding-bottom: 2rem;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    // Large screen team section padding styling
    .team-section {
        padding-bottom: 0;
    }

    // Team member image hiding overlow when hovering
    .team-member-image {
        overflow: hidden;
    }

    // Team member image grayscale styling
    .team-member-image img {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all 0.5s ease;

        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    // Team member image hover and colour styling
    .team-member-image:hover img {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        filter: grayscale(0%);

        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

}