@import "resources/scss/modules/figures";

// Team section padding styling
.team-section {
    padding: 3rem;
}

// Team member padding styling
.team-member {
    padding-bottom: .5rem;
}

// Team member role margin
.team-member .team-member-role {
    margin-bottom: 0;
}

// Team member name overflow
.team-member .team-member-name {
    white-space: nowrap;
}

// Team member hover zoom and grayscale styling
.team-member-image {
    @include hoverZoomImg();
    @include grayscaleToColourImg();
}

// Large media team section styling
@media (min-width: 992px) {

    // Large screen team member padding styling
    .team-member {
        padding-bottom: 2rem;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    // Large screen team section padding styling
    .team-section {
        padding-bottom: 0;
    }

}