@import 'resources/scss/modules/colours';

// Project post wrapper styling
.project-post-wrapper {
    position: sticky;
    top: 0;
    padding: 2rem 0 !important;
}

// Project post title margins
.project-post-title {
    margin-top: 0 !important;
    margin-bottom: .5rem;
}

// Project post date typography colours
.project-post-date {
    color: $text-dark;
}