@import 'resources/scss/modules/typography';
@import 'resources/scss/modules/colours';
@import 'resources/scss/modules/figures';

// Blog list item margin
.blog-list-item {
    margin: 2rem 0;
}

// Blog list item margin and transitons
.blog-list-image {
    margin-bottom: 1.25rem;
    transition: transform 0.2s;
}

// Blog list image translate on hover
.blog-list-image:hover {
    transform: translatey(-7.5px)
}

// Blog list image width
.blog-list-image img {
    width: 100% !important;
}

// Blog list title and subtitle typography
.blog-list-title,
.blog-list-subtitle {
    font-family: $base-font;
}

// Blog list title and subtitle typography
.blog-list-title,
.blog-list-subtitle {
    margin-top: 0;
}

// Blog list title and typography
.blog-list-title {
    font-weight: bold;
}