@import "../modules/all";

// Border sizings
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Horizontal vertical center elements
.hv-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

// Vertical center elements
.v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Horizontal center elements
.h-center {
    margin: 0 auto;
}

// Bootstrap rows with no gutters
.no-gutters {
    margin-right: 0;
    margin-left: 0;

    >.col,
    >[class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

// Markdown content image width
.markdown-content img {
    width: 100%;
}

// Masthead overlay styling
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $black;
    opacity: .5
}

// Disable text select
.no-select {
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    user-select: none;
}