// Paragraph styling
p,
.paragraph-text {
    color: $text;
}

// Title and subtitle
h1+h5 {
    color: #6c757d !important
}

// START OF FOOTER TYPOGRAPHY STYLING

// Footer Typography
.footer {
    color: $black;
    font-size: 17px;

    // Footer Fontawesome icons sizing
    .svg-inline--fa {
        font-size: 2rem !important;
    }
}

// Footer widget list
.footer-widget ul li a {
    font-size: 18 px;
    color: $black;

    &:hover {
        color: $black;
        text-decoration: none;
    }
}

// Footer widget list items padding
.footer-widget ul li:not(:last-child) {
    padding-bottom: .75rem;
}

// Link and hover styling
.svg-inline--fa,
.copyrightlink {
    color: $black;

    &:hover,
    &:after {
        color: $black;
    }
}

// END OF FOOTER TYPOGRAPHY STYLING
