@import 'resources/scss/modules/typography';
@import 'resources/scss/modules/colours';

$text-colour: $black;

// Navbar styling
.navbar {
    height: 80px;
    font-family: $base-font;
    background-color: transparent !important;
    z-index: 3 !important;
}

// Navbar logo styling
.navbar-logo {
    $transiton: 0.1s;

    object-fit: contain;
    height: 60px;
    width: 60px;

    -moz-transition: all $transiton;
    -webkit-transition: all $transiton;
    transition: all $transiton;
}

.navbar-logo:hover {

    $transform: 1.05;

    -moz-transform: scale($transform);
    -webkit-transform: scale($transform);
    transform: scale($transform);
}

.custom-toggler .navbar-toggler-icon {
    @include navbar-toggler-icon($white);
}

// Position and sizing of clickable cross button
.bm-cross-button {
    height: 24px;
    width: 24px;
}

// Color/shape of close button cross
.bm-cross {
    background: $text-colour;
}

// General sidebar styles
.bm-menu {
    background: $white;
    padding: 2.5em 1.5em 0;
    font-size: 1.30em;
}

.bm-menu-wrap {
    top: 0;
}

// Wrapper for item list
.bm-item-list {
    padding: 0.8em;

    .navbar-link {
        font-weight: 500;
    }
}

// Burger menu item
.bm-item {
    padding: 0.3em;
    color: $text-colour;

    &:hover {
        color: $text-colour;
    }
}

// Overlay styling
.bm-overlay {
    background: $black-overlay;
    top: 0;
    right: 0;
}

// Light navbar styling
.navbar-light .navbar-toggler {
    color: rgba($black, .99) !important;
    border-color: rgba($black, .99) !important;
}

// Light navbar styling
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='"+ rgba($black, 0.99) + "' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

// Light navbar styling
.navbar-dark .navbar-nav .nav-link {
    @include colouredLinks($white);
}

// Light navbar styling
.navbar-dark .navbar-logo {
    color: $white;
}