@import 'resources/scss/modules/colours';
@import 'resources/scss/modules/typography';

// Member info padding and margins
.member-info {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 15px;
}

// Member name typography styling
.member-info .member-name {
    margin-top: 0;
    font-weight: 400;
}

// Team member socials list styling
.member-socials {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.member-social-link {
    @include coloured-link($text-dark, $black)
}

// Team member socials list item styling
.member-socials li {
    display: inline;
}

.member-socials li:not(:last-child) {
    margin-right: 1rem;
}

// Medium device list styling
@media (min-width: 768px) {
    .socials-list li {
        display: block;
    }

    .socials-list li:not(:last-child) {
        margin: 0;
    }
}