.member-info {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 15px;
}

.member-info .member-name {
    margin-top: 0;
    font-weight: 400;
}

// Team member socials list styling
.socials-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

// Team member socials list item styling
.socials-list li {
    display: inline;
}

.socials-list li:not(:last-child) {
    margin-right: 1rem;
}