$black: #252427 !default;
$white: #FFF !default;
$gray-100: #F6F6F8;

$black-overlay: rgba($black, .5);

$text: #949AA6;
$text-light: #BCC0C7;
$blog-text: #555;
$subtitle: #6c757d;

$primary: #D1B1FF;
$primary-dark: #9f81cc;
$primary-light: #ffe3ff;
$primary-tint: rgba($primary-dark, .9);

$tertiary: #272932;

// Section background colours mixins
@mixin bg-colour($background, $text) {
    background: $background !important;
    color: $text !important;
}

@mixin btn-colour($text, $background: transparent) {
    color: $text !important;
    background-color: $background !important;
    border-color: $text !important
}