// Zoom on hover mixin
@mixin hoverZoomImg($scale: 1.1, $transition: 0.3s) {

    overflow: hidden;

    // Large media hoverZoomImage styling
    @media (min-width: 992px) {
        img {
            -moz-transition: all $transition;
            -webkit-transition: all $transition;
            transition: all $transition;
        }

        &:hover img {
            -moz-transform: scale($scale);
            -webkit-transform: scale($scale);
            transform: scale($scale);
        }
    }
}

// Grayscale to coloured image mixin
@mixin grayscaleToColourImg($transition: 0.3s) {

    // Large media grayscaleToColourImg grayscale styling
    @media (min-width: 992px) {
        img {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: all $transition ease;
        }

        &:hover img {
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            filter: grayscale(0%);
        }
    }
}

@mixin hoverZoomIcon($scale: 1.05, $transition: 0.2s) {

    -moz-transition: all $transition;
    -webkit-transition: all $transition;
    transition: all $transition;

    &:hover {
        -moz-transform: scale($scale);
        -webkit-transform: scale($scale);
        transform: scale($scale);
    }
}

// Vertical center elements
@mixin v-center() {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}