@import 'resources/scss/modules/colours';

// Page header neighbour margin for page header visibility
.page-header+div {
    padding-top: 2rem;
}

// Heading text colours
.heading * {
    color: $white !important;
}

// Heaidng blog metadata typography styling
.heading .meta {
    font-style: italic;
}

.back-to-blog {
    text-align: center;
    margin: 2.5rem 0;
}