@import "resources/scss/modules/colours";

// Footer
.footer {
    background-color: $white;
    padding: 4.5rem 0;
}

.list-inline-item:not(:last-child) {
    margin-right: 1rem !important;
}

.copyright-footer {
    padding-top: 2rem;
}
