@import "resources/scss/modules/colours";

hr {
    border-bottom: 1px solid $gray-100;
}

.footer {
    background-color: $white;
    padding-top: 50px;
}

.ft-logo {
    padding-bottom: 30px;
}


.footer-widget {
    padding-bottom: 50px;
}


.tiny-footer {
    padding: 14px 0px;
    background-color: transparent;
}
