@import 'resources/scss/modules/colours';

// Work item styling
.work-item {
    margin-bottom: 1rem;
}

// Work item image styling
.work-item .header-image {
    width: 100%;
    margin-bottom: .5rem;
}

// Work item link text decoration
.work-item-link {
    text-decoration: none !important;
}

// Work page section margins
.work-page .work-section {
    margin-bottom: 50px;
}