@import 'resources/scss/modules/colours';
@import 'resources/scss/modules/typography';

// Page not found scene styling
.page-not-found {
    height: calc(90vh - 80px);
}

// Page not found message styling
.page-not-found-message {
    text-align: center;
    margin-bottom: 5rem;
}

// Page not found text styling
.page-not-found .message-404,
.page-not-found .message-not-found {
    font-family: $base-font;
}

// Page not found 404 message sytling
.page-not-found .message-404 {
    color: $primary;
    font-weight: bold;
    font-size: 4rem;
    margin: 0;
}

// Page not found error message styling
.page-not-found .message-not-found {
    color: $black;
    margin-bottom: 1rem;
}