// Blog section header styling
.blog-section-header {
    padding: 0;
    height: 100%;
    min-height: 40vh;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}

// Blog section content styling
.blog-section-content {
    padding: 3rem 0;
}

@media (min-width: 998px) {

    // Blog section content styling
    .blog-section-content {
        padding: 3rem !important;
    }
}

@media (min-width: 1200px) {

    // Blog section content styling
    .blog-section-content {
        padding: 4rem !important;
    }
}

@media (min-width: 1200px) {

    // Blog post content styling
    .blog-section-content .markdown-content {
        width: 80%;
    }
}

// Blog section title margin
.blog-section-title,
.blog-section-subtitle {
    margin-top: 0;
}