// Blog section header styling
.blog-section-header {
    padding: 0;
    height: 100%;
    min-height: 40vh;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {

    // Blog post content styling
    .blog-section-content .markdown-content {
        width: 75%;
    }
}

// Blog section title margin
.blog-section-title {
    margin-top: 0;
}