.blog-section-wrapper {
    min-height: 70vh;
}

.blog-header {
    padding: 0;
    height: 100%;
    min-height: 40vh;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}